{% extends 'base.html' %}

{% block content %}

<div id="search-container">
    <input id="search" type="text" placeholder="Enter a location">
    <button id="searchBtn">Go</button>
</div>

<div id="map" style="height:600px;width:100%"></div>

<script>
    let map;
    let markers = [];

    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 39.8283, lng: -98.5795},
            zoom: 4
        });

        const input = document.getElementById("search");
        const autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.bindTo("bounds", map);

        autocomplete.addListener("place_changed", () => {
            const place = autocomplete.getPlace();
            if (!place.geometry) return alert("No details available for that location");
            map.setCenter(place.geometry.location);
            map.setZoom(12);

            fetchPosts(place.geometry.location.lat(), place.geometry.location.lng());

        });

    }

        async function fetchPosts(lat, lng) {
            console.log("Fetching posts for:", lat, lng);
            markers.forEach(m => m.setMap(null));
            markers = [];

            try {
                const radius = 1000000;
                const res = await fetch(`/roadTripper/posts/?lat=${lat}&lng=${lng}&radius=100000`);
                const posts = await res.json();
                console.log("Posts received from backend:", posts);
                displayMarkers(posts);
            } catch(err) {
                console.error(err);
            }


        }
        function displayMarkers(posts) {
            posts.forEach(post => {
                const marker = new google.maps.Marker({
                    position: {lat: post.lat, lng: post.lng },
                    map,
                    title: post.username
                });


                const infoWindow = new google.maps.InfoWindow({
                    content: `
                    <strong>${post.username}</strong><br>
                    ${post.caption}<br>
                    <img src="${post.image || 'https://via.placeholder.com/100'}" width="100"/>
                    ${new Date(post.timestamp).toLocaleString()}
                    `
                });

                marker.addListener("click", () => infoWindow.open(map, marker));
                markers.push(marker);
            });
        }


</script>

<script src ="https://maps.googleapis.com/maps/api/js?key=AIzaSyCB1Yppcqoe9_A8euT_t-Pz2odNPTlBtw0&libraries=places&callback=initMap" async defer></script>

{%endblock%}