{% extends "base.html" %}
{% block content %}
<!-- Leaflet CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

<style>
    #map {
        height: 500px;
        width: 100%;
    }
</style>

<div class="container py-4">
  <h2>Edit Job: {{ job.title }}</h2>

  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <!-- Title -->
    <div class="mb-3">
      <label class="form-label">Trip Title</label>
      {{ form.title }}
      {{ form.title.errors }}
    </div>

    <!-- Description -->
    <div class="mb-3">
      <label class="form-label">Description</label>
      {{ form.description }}
      {{ form.description.errors }}
    </div>

    <!-- Location -->
    <div class="mb-3">
      <label class="form-label">Location</label>
      {{ form.location }}
      {{ form.location.errors }}
    </div>

    <div class="mb-3">
      <label class="form-label">Address</label>
      {{ form.address }}
      {{ form.address.errors }}
    </div>

     <!-- Hidden fields for latitude and longitude -->
     <input type="hidden" id="lat" name="lat">
     <input type="hidden" id="lng" name="lng">
    <div id="map"></div>
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

